.catImgContainer {
  z-index: 2;
  position: fixed;
  top: 0;
  left: calc(50vw - 50vh);
  height: 95vh;
  width: 95vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  animation: rotate 200s linear infinite;
}

.catImg {
  width: 180px;
  animation: rotate-backwards 200s linear infinite;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.isChosen {
  opacity: 1;
}

.catImg:nth-child(5) {
  grid-column-start: 3;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-backwards {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
