@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Indie+Flower&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #292f3f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4.2em;
  line-height: 0.5;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(22, 93, 207, 0.657);
  background-image: linear-gradient(
    180deg,
    rgba(33, 79, 177, 0.207) 0%,
    rgba(13, 21, 136, 0.401) 100%
  );
  border: 1px inset rgba(0, 140, 255, 0.305);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff3a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  display: grid;
  grid-template-rows: auto auto; /* Two rows: label (auto height), input/button (auto height) */
  grid-template-columns: 1fr 1fr; /* Single column spanning the full width */
  gap: 10px; /* Spacing between grid items */
}

label {
  grid-row-start: 1;
  column-span: 2;
  justify-self: center;
}

input {
  grid-row-start: 2;
  grid-column-start: 1;
  padding-left: 1rem;
  border-radius: 8px;
  background-color: rgb(231, 231, 231);
  color: #242424;
}

button {
  grid-row-start: 2;
  grid-column-start: 2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
